body::before {    
    content: "";
    background-image: url('/lastspaceship/img/starsbg2.jpeg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.3;
}

.planet-sector {
    border: solid 1px #eeeeee !important;
}
.planet-sector:hover {
    border: dotted 1px #33ff33 !important;
}
.planet-sector.selected {
    border: solid 2px green !important;
}

.text-sci-fi {
    font-family: Orbitron;
    text-shadow: #9af89a 2px 1px 5px;
    color: #33ff33;
}

.text-sci-fi-any {
    font-family: Orbitron;
    //text-shadow: #999999 2px 1px 5px;
}

.text-sci-fi-w {
    font-family: Orbitron;
    //text-shadow: #eeeeee 2px 1px 5px;
    color: #ffffff;
}

.text-sci-fi-g {
    font-family: Orbitron;
    //text-shadow: #999999 2px 1px 5px;
    color: #cccccc;
}

.text-sci-fi-o {
    font-family: Orbitron;
    //text-shadow: rgb(248, 187, 133) 1px 0px 2px;
    color: $orange;//rgb(247, 183, 65);
}

.two-image-stacked {
    
    background-image: url("/lastspaceship/img/reactor1-off.png"), url("/lastspaceship/img/reactor1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: lighten;
    min-height: 476px;
    //width: 476px;
    position: relative;
    //border: solid 1px white
}

.ship-box {
    background-size: contain;
    background-repeat: no-repeat;
    height: 384px;
    width: 384px;
    //border: solid 1px #115511;
    opacity: 1;
}

.ship-detail-box {
    background-size: contain;
    background-repeat: no-repeat;
    height: 192px;
    width: 192px;
    position: relative;
    //border: solid 1px #115511;
    opacity: 0.7;
    cursor: pointer;
}

.ship-detail-drive {
    background-image: url("/lastspaceship/img/icon-drive.png");
}

.ship-detail-ftl {
    background-image: url("/lastspaceship/img/icon-ftl.png");
}


.ship-detail-reactor {
    background-image: url("/lastspaceship/img/icon-reactor.png");
}

.ship-detail-computer {
    background-image: url("/lastspaceship/img/icon-computer.png");
}


.terminal-ship {
    background-color: black;
    background-image: radial-gradient(
      rgba(0, 80, 0, 0.75), black 120%
    );
    //height: 100vh;
    margin: 0;
    overflow: hidden;
    color: rgb(210, 255, 210);
    font: 1.3rem Inconsolata, monospace;
    text-shadow: 0 0 5px #C8C8C8;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: repeating-linear-gradient(
        0deg,
        rgba(black, 0.15),
        rgba(black, 0.15) 1px,
        transparent 1px,
        transparent 2px
      );
      pointer-events: none;
    }
  }

  .neu-1 {
    border-radius: 25px;
    background: linear-gradient(225deg, #161616, #2a2a2a);
//background: #202020;
height: 94vh;
margin-top: 3vh;
box-shadow:  -19px 19px 38px #161616,
             19px -19px 38px #2a2a2a;
  }

  input.neu-2,
  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus,
  input.neu-2:-internal-autofill-selected  {
    border-radius: 8px;
background: #202020 !important;
box-shadow: inset -6px 6px 12px #040404,
            inset 6px -6px 12px #3c3c3c;
    padding: 8px;
    width: 100%;
    border: none;
    font-family: Orbitron !important;
    color: orange !important;
  }

  .neu-2:focus {
      outline: 1px dashed orange;
  }

  